<%= button_to 'new', new_users_path %>
<!--
  <form method="post" action="/users/new" class="button_to">
    <input value="New" type="submit" />
  </form>
-->

<%= button_to 'destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<!--
  <form method="post" action="/users/delete/1" class="button_to">
    <input type="hidden" name="_method" value="delete" />
    <input data-confirm='Are you sure?' value="destory" type="submit" />
    <input name="authenticity_token" type="hidden" value="......."/>
  </form>
-->

<%= link_to user_path(@user) do %>
  <%= user.username %>
<% end %>
<!--
  <a href="/users/1">hello-user</a>
-->

<%= link_to 'index', users_path  %>
<!--
  <a href="/users">index</a>
-->
